Source: openmediavault-calibre
Section: net
XB-Plugin-Section: sharing
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: openmediavault-calibre
Architecture: all
Depends: bzip2,
         imagemagick,
         libmtp9,
         libpodofo-utils,
         libwmf-bin,
         openmediavault (>= 3.0.81),
         python,
         python-apsw,
         python-beautifulsoup,
         python-chm,
         python-cssutils,
         python-dateutil,
         python-dbus,
         python-django-tagging,
         python-dnspython,
         python-imaging,
         python-lxml,
         python-mechanize,
         python-netifaces,
         python-pkg-resources,
         python-poppler,
         python-psutil,
         python-pypdf,
         python-qt4,
         xdg-utils,
         xz-utils,
         ${misc:Depends}
Description: Calibre plugin for OpenMediaVault.
 Calibre is a free and open source e-book library management
 application developed by users of e-books for users of e-books.
 It has a cornucopia of features divided into the following main
 categories:
 .
 * Library Management
 * E-book conversion
 * Syncing to e-book reader devices
 * Downloading news from the web and converting it into e-book form
 * Content server for online access to your book collection
